<!DOCTYPE html>
<html>
    <head>
        <title>Message form | foamapp.go</title>
    </head>
    <body>
        <form action="/stateless/start" method="get">
            名前: {{ .Name }}
            <br>
            生年月日: {{ .Birthday }}
            <br>
            メッセージ
            <br>
            <textarea disabled>{{ .Message }}</textarea>
            <br><input type="submit" value="submit"></input>
            <input type="hidden" name="name" value="{{ .Name }}">
            <input type="hidden" name="birthday" value="{{ .Birthday }}">
            <input type="hidden" name="message" value="{{ .Message }}">
            <input type="submit" value="back" formaction="/stateless/birthday" formmethod="post"></input>
        </form>
    </body>
</html>
