{{ template "header" . }}
<h1>List of tasks</h1>
<li><a href="/user/info">アカウント情報</a></li>
<li><a href="/logout">ログアウト</a></li>
<form action="/list" method="GET">
    <input type="hidden" name="kw_h" value="{{ .Kw }}">
    <input type="hidden" name="status_h" value="{{ .Status }}">
    <input type="hidden" name="sort_h" value="{{ .Sort }}">
    <input type="text" name="kw" value="{{ .Kw }}">
    <input type="radio" name="status" value="all" {{ if and (ne .Status "complete" ) (ne .Status "incomplete" )
        }}checked{{ end }}><label>全て表示</label>
    <input type="radio" name="status" value="complete" {{ if eq .Status "complete" }}checked{{ end
        }}><label>完了済みのみ表示</label>
    <input type="radio" name="status" value="incomplete" {{ if eq .Status "incomplete" }}checked{{ end
        }}><label>未完了のみ表示</label>
    <select name="sort">
        <option value="id ASC" {{if eq .Sort "id ASC" }} selected {{end}}>ID(昇順)</option>
        <option value="id DESC" {{if eq .Sort "id DESC" }} selected {{end}}>ID(降順)</option>
        <option value="title ASC" {{if eq .Sort "title ASC" }} selected {{end}}>タイトル(昇順)</option>
        <option value="title DESC" {{if eq .Sort "title DESC" }} selected {{end}}>タイトル(降順)</option>
        <option value="deadline IS NULL ASC" {{if eq .Sort "deadline IS NULL ASC" }} selected {{end}}>締め切り(昇順)</option>
        <option value="deadline DESC" {{if eq .Sort "deadline DESC" }} selected {{end}}>締め切り(降順)</option>
        <option value="created_at ASC" {{if eq .Sort "created_at ASC" }} selected {{end}}>登録日(昇順)</option>
        <option value="created_at DESC" {{if eq .Sort "created_at DESC" }} selected {{end}}>登録日(降順)</option>
    </select>
    <input type="submit" name="search" value="検索">
    <p><a href="/task/new">新規登録</a></p>
    {{ if not .Tasks }}
    <p>登録データがありません．</p>
    {{ else }}
    <table border="1">
        <tr>
            <th>ID</th>
            <th>タイトル</th>
            <th>締め切り</th>
            <th>状態</th>
            <th>登録日</th>
        </tr>
        {{ range $task := .Tasks }}
        <tr align="center">
            <td><a href="/task/{{ $task.ID }}">{{ $task.ID }}</a></td>
            <td>{{ $task.Title }}</td>
            <td id={{$task.ID}}>{{if eq $task.Deadline.Valid false}} <font> - </font> {{else}} <script> past_deadline_font_color("{{ $task.Deadline.Time }}", "{{ $task.ID }}") </script> {{ $task.Deadline.Time }} </font> {{end}}</td>
            <td>{{ if $task.IsDone }}済{{ end }}</td>
            <td>{{ $task.CreatedAt }}</td>
        </tr>
        {{ end }}
    </table>
    {{ end }}
    <input type="submit" name="movpage" value="<" {{if eq 1 .Pagenum}} disabled {{end}}>
    <input type="hidden" name="pagenum" value="{{ .Pagenum }}">
    {{ .Pagenum }}
    <input type="submit" name="movpage" value=">" {{if eq true .Is_lastpage}} disabled {{end}}>
</form>
{{ template "footer" }}