{{ template "header" . }}
<h1>登録済みタスク一覧</h1>
<li><a href="/user/info">アカウント情報</a></li>
<li><a href="/logout">ログアウト</a></li>
<li><a href="/login">別のユーザーでログイン</a></li>
<form action="/list" method="GET">
    <input type="hidden" name="kw_h" value="{{ .Kw }}">
    <input type="hidden" name="status_h" value="{{ .Status }}">
    <input type="hidden" name="sort_h" value="{{ .Sort }}">
    <input type="text" name="kw" value="{{ .Kw }}">
    <input type="radio" name="status" value="all" {{ if and (ne .Status "complete" ) (ne .Status "incomplete" )
        }}checked{{ end }}><label>全て表示</label>
    <input type="radio" name="status" value="complete" {{ if eq .Status "complete" }}checked{{ end
        }}><label>完了済みのみ表示</label>
    <input type="radio" name="status" value="incomplete" {{ if eq .Status "incomplete" }}checked{{ end
        }}><label>未完了のみ表示</label>
    <select name="sort">
        <option value=0 {{if eq .Sort 0 }} selected {{end}}>ID(昇順)</option>
        <option value=1 {{if eq .Sort 1 }} selected {{end}}>ID(降順)</option>
        <option value=2 {{if eq .Sort 2 }} selected {{end}}>タイトル(昇順)</option>
        <option value=3 {{if eq .Sort 3 }} selected {{end}}>タイトル(降順)</option>
        <option value=4 {{if eq .Sort 4 }} selected {{end}}>締め切り(昇順)</option>
        <option value=5 {{if eq .Sort 5 }} selected {{end}}>締め切り(降順)</option>
        <option value=6 {{if eq .Sort 6 }} selected {{end}}>登録日(昇順)</option>
        <option value=7 {{if eq .Sort 7 }} selected {{end}}>登録日(降順)</option>
    </select>
    <input type="submit" name="search" value="検索">
    <p><a href="/task/new">新規登録</a></p>
    {{ if not .Tasks }}
    <p>登録データがありません．</p>
    {{ else }}
    <table border="1">
        <tr>
            <th>ID</th>
            <th>タスク名</th>
            <th>締め切り</th>
            <th>状態</th>
            <th>登録日時</th>
        </tr>
        {{ range $task := .Tasks }}
        <tr align="center" id={{ $task.ID }}>
            <td><a href="/task/{{ $task.ID }}">{{ $task.ID }}</a></td>
            <td>{{ $task.Title }}</td>
            <td>{{if eq $task.Deadline.Valid false}} <font> - </font> {{else}}
                <script> past_deadline_bgcolor("{{ $task.Deadline.Time }}", "{{ $task.ID }}", "{{ $task.IsDone }}") </script>
                {{ $task.Deadline.Time }} </font> {{end}}
            </td>
            <td>{{ if $task.IsDone }}済{{ end }}</td>
            <td>{{ $task.CreatedAt }}</td>
        </tr>
        {{ end }}
    </table>
    {{ end }}
    <input type="submit" name="movpage" value="<" {{if eq 1 .Pagenum}} disabled {{end}}>
    <input type="hidden" name="pagenum" value="{{ .Pagenum }}">
    {{ .Pagenum }}
    <input type="submit" name="movpage" value=">" {{if eq true .Is_lastpage}} disabled {{end}}>
</form>
{{ template "footer" }}